@import './mixins.scss';


.host-view-div{
  display:inline-block;
  height:24px;
  line-height: 24px;
}
.host-view-label{
  display:inline-block;
  font-size:13px;
  width:90px;
  text-align: center;
  color:#409EFF;
  // background-color:#3C3F41;
  // border-bottom: 1px solid #606266;
  @include background_level01_color(#ffffff);
  @include border_bottom();
  white-space:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;

}
.host-view-div-inline{
  font-size: 12px;
  display:inline-block;
  width: calc( 100% - 90px );
  white-space:nowrap;
  padding-left:10px;
  text-overflow:ellipsis;
  color:#ca8622;
  vertical-align:top;
  // border-bottom: 1px solid #606266;
  // border-left: 1px solid #606266;
  // border-right: 1px solid #606266;
  @include border_bottom();
  @include border_left();
  @include border_right();
}
.host-view-div-span{
  height:24px;
  line-height: 24px;
  display: block; 
  width: calc( 100%);
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
}


.host-view-block-no-right{
  margin:6px 12px 0px 12px;
  @include box_shadow_normal();
  @include border_top();
  @include border_left();
  @include border_bottom();
  @include background_level03_color(#ffffff);
}
.host-view-block-no-bottom{
  margin:6px 12px 0px 12px;
  @include box_shadow_normal();
  @include border_top();
  @include border_left();
  @include border_right();
  @include background_level03_color(#ffffff);
}
.host-view-block-no-top{
  margin:6px 12px 0px 12px;
  @include box_shadow_normal();
  @include border_bottom();
  @include border_left();
  @include border_right();
  @include background_level03_color(#ffffff);
}

.host-view-block{
  margin:6px 12px 0px 12px;
  //border:1px solid #606266;
  // box-shadow: 0 0 3px #606266;
  // background-color: #2b2b2b;
  @include box_shadow_normal();
  @include border_normal();
  @include background_level03_color(#ffffff);
}
.host-view-block-first{
  margin:12px 12px 0px 12px;
}
.host-view-block-last{
  margin:6px 12px 12px 12px;
}

.host-view-block-inline-left{
  margin:6px 3px 0px 12px;
  @include box_shadow_normal();
  @include border_normal();
  vertical-align:top;
}

.host-view-block-inline-middle{
  margin:6px 3px 0px 3px;
  @include box_shadow_normal();
  @include border_normal();
  vertical-align:top;
}

.host-view-block-inline-right{
  margin:6px 12px 0px 3px;
  @include box_shadow_normal();
  @include border_normal();
  vertical-align:top;
}

.host-view-block-inline-bottom{
  margin-bottom: 12px;
}

.host-view-block-header{
  height:24px;
  line-height:23px;
  font-size:12px;
  @include border_bottom();
  @include font_normal_color(#ffffff);
  @include background_level02_color(#ffffff);
}
.host-view-block-foot{
  height:40px;
  line-height:40px;
  font-size:12px;
  @include border_top();
  @include font_normal_color(#ffffff);
  @include background_level01_color(#ffffff);
}

.dp-tap-li{
  display: inline-block;
  cursor: pointer;
  height:26px;
  padding:0px;
  margin:0px;
  line-height:26px;
  text-align:center;
  // background-color:#3C3F41;
  // color:#C0C4CC;
  @include tab_li_background_color();
  @include tab_li_font_color();
  vertical-align:top;
}
.dp-tap-li:hover{
  // color:#409EFF;
  @include tab_li_font_color_active();
}
.dp-tap-li-active{
//  background-color:#2B2B2B;
//  color:#409EFF;
  @include tab_li_background_color_active();
  @include tab_li_font_color_active();
}
.tab-list-icon{
  vertical-align:middle;
  margin:0 10px;

}
.li-span{
  font-size: 13px;
  vertical-align:middle;
}

.self-breadcrumb{
  position:fixed;
  width:100%;
  top:40px;
  left:55px;
  height:36px;
  line-height: 36px;
  z-index: 999;
  @include background_level01_color(#ffffff);
  opacity: 0.95;
}
.self-breadcrumb-collapse:hover{
  @include background_level02_color(#ffffff);
}

.self-icon-color{
  @include font_normal_color(#ffffff);
  cursor:pointer;
}

.self-icon-orange{
  color:#E6A23C;
}
.self-icon-blue{
  color:#409EFF;
}
.self-icon-red{
  color:#F56C6C;
}
.self-icon-orange:hover{
  color:#606266;
}
.self-icon-blue:hover{
  color:#606266;
}
.self-icon-red:hover{
  color:#606266;
}


.self-icon-close{
  float:right;
  @include border_left();
  cursor:pointer;
}
.self-icon-close:hover{
  @include background_level02_color(#ffffff);
}

.self-icon-back{
  float:right;
  height:23px;
  line-height:23px;
  //color:#67C23A;
  @include font_normal_color(#ffffff);
  @include border_left();
  cursor:pointer;
}
.self-icon-back:hover{
  color:#67C23A !important;
  @include background_level03_color(#ffffff);
}

.self-icon-skin{
  cursor:pointer;
  color:#E4E7ED;
  // @include font_normal_color(#ffffff);
}

//搜索过滤区域
.filterArea-block{
  display:inline-block;
  vertical-align:top;
}

